<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/header.css" />
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.5.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="../../styles/animation-css/slide.css">
    <title>Portafolio - Meneses</title>
</head>

<body>
    <header class="header">
        <!-- Logo -->
        <div class="header-left logo">
            <span class="header-logo-text">meneses</span><span class="header-logo-subtext">.dev</span>
        </div>

        <!-- Navegación -->
        <div class="header-medium">
            <nav class="nav-menu">
                <a href="#home" class="nav-link">Inicio</a>
                <a href="#sobreMi" class="nav-link">Sobre Mí</a>
                <a href="#habilidades" class="nav-link">Habilidades</a>
                <a href="#informacion" class="nav-link">Información</a>
                <a href="#proyectos" class="nav-link">Proyectos</a>
                <a href="#contacto" class="nav-link">Contacto</a>
            </nav>
        </div>

        <!-- Idiomas + Dark mode -->
        <div class="header-right">
            <div class="flags">
                <div class="flags__item" data-language="es">
                    <img src="img/icon-spain.png" alt="Español" />
                </div>
                <div class="flags__item" data-language="en">
                    <img src="img/icon-en.png" alt="Inglés" />
                </div>
                <div class="box-dark-mode">
                    <button id="dark-mode-toggle">
                        <i class="ri-moon-fill"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Menú hamburguesa -->
        <div class="hamburger-menu " id="hamburger-menu">
            <button class="hamburguer-menu-button"><i class="ri-menu-line"></i></button>
            <div class="hamburger-menu-content u--slideDown" id="hamburger-menu-content">
                <a href="#home">Inicio</a>
                <a href="#sobreMi">Sobre Mí</a>
                <a href="#habilidades">Habilidades</a>
                <a href="#informacion">Información</a>
                <a href="#proyectos">Proyectos</a>
                <a href="#contacto">Contacto</a>
                <div class="close-menu" id="close-menu">
                    <i class="ri-close-line"></i>
                </div>
            </div>
        </div>

    </header>

    <div class="content">
        <section id="home"
            style="height: 1000px; background-color: #f1c40f; display:flex; align-items:center; justify-content:center;">
            <h2>Sección 1 - Home</h2>
        </section>
        <section id="sobreMi"
            style="height: 1000px; background-color: #e67e22; display:flex; align-items:center; justify-content:center;">
            <h2>Sección 2 - Sobre Mí</h2>
        </section>
        <section id="habilidades"
            style="height: 1000px; background-color: #1abc9c; display:flex; align-items:center; justify-content:center;">
            <h2>Sección 3 - Habilidades</h2>
        </section>
        <section id="informacion"
            style="height: 1000px; background-color: #9b59b6; display:flex; align-items:center; justify-content:center;">
            <h2>Sección 4 - Información</h2>
        </section>
        <section id="proyectos"
            style="height: 1000px; background-color: #34495e; display:flex; align-items:center; justify-content:center; color:white;">
            <h2>Sección 5 - Proyectos</h2>
        </section>
        <section id="contacto"
            style="height: 1000px; background-color: #2ecc71; display:flex; align-items:center; justify-content:center; color:white;">
            <h2>Sección 6 - Contacto</h2>
        </section>
    </div>

    <script src="js/HeaderScrollManager.js" defer></script>
</body>

</html>